* {
    box-sizing: border-box;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.menu {
    margin-left: 90px;
}

.menu ul li a {
    text-decoration: none;
}

.menu ul li {
    margin-right: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header-img {
    padding-top: 12px;
}

.banner {
    position: relative;
}

.banner-anh img {
    width: 100%;
    height: auto;
}

.chutrenanh .white {
    color: cornsilk;
}

.chutrenanh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* tại sao css như trên thì text luôn ở giữa ảnh?*/
}

.chutrenanh p {
    text-align: center;
}

.chutrenanh p:nth-child(4) {
    background-color: rgb(255, 255, 255);
    padding: 18px;
    width: 300px;
    margin: auto;
}

.text {
    width: calc(100% / 2);
    margin-left: auto;
    margin-right: auto;
}

div.text:nth-child(1),
div.text:nth-child(2),
div.text:nth-child(3) {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    line-height: 35px;
}

.feature {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.feature {
    margin-bottom: 80px;
}

.pink {
    margin-right: 10px;
}

.onsale {
    margin-right: 10px;
}

.anhduoifeature {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/*.anhduoifeature img:first-child {
    margin-right: 20px;
}*/


/*set kích thước cho ảnh bằng chiều rộng chia ba sau đó cho nó về trng tâm và dùng margin để tạo khoảng trống ở giữa, như vậy khả năng ki trình duyệt co lại sẽ không bị fix cứng*/

.pink-img {
    position: relative;
    /*margin-right: 10px;*/
}

.explore {
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-property: all;
    margin-bottom: 0;
    position: absolute;
    bottom: 5px;
    left: 15px;
    width: calc(100% - 30px);
    height: 50px;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.pink-img:hover .explore {
    visibility: visible;
    transform: translateY(-15px);
}

.onsale-img {
    position: relative;
    width: 100%;
}

.onsale-img .p-onsale {
    margin: 0%;
    width: 91px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: #a25f4b;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.giamgia {
    width: calc(100% - 30px);
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0;
    position: absolute;
    bottom: 4px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-timing-function: linear;
    transition-duration: 0.2s;
    visibility: hidden;
}

.onsale-img:hover .giamgia {
    visibility: visible;
    transform: translateY(-15px);
}

div.nenden {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.onsale-img:hover .nenden {
    opacity: 13%;
}

.pink-img:hover .nenden {
    opacity: 13%;
}

.moreproduct {
    margin-left: 15px;
    margin-right: 15px;
}

.moreproducts {
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

hr {
    opacity: 20%;
}

.widthanh img {
    width: 100%;
    height: auto;
}

.widthanh {
    min-width: 150px;
    /*tại sao khi set min width thì kho co trình
    duyệt thật nhỏ lại thì tự
    nó trôi xuống dưới???*/
    /*liệu có phải thẻ cha có thuộc tính flex-wrap??*/
    max-width: calc(100% / 4);
    height: auto;
}

.baanhdautien {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hienkhihover {
    position: relative;
    width: inherit;
}

.hienkhihover-nenden {
    opacity: 0%;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    visibility: hidden;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.hienkhihover-giamgia {
    visibility: hidden;
    position: absolute;
    width: calc(100% - 30px);
    height: 50px;
    color: black;
    background-color: rgb(255, 255, 255);
    bottom: 4px;
    left: 15px;
    text-align: center;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    z-index: 1;
}

.onsale1 {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #a25f4b;
    background-color: white;
    width: 91px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hienkhihover:hover .hienkhihover-nenden {
    opacity: 13%;
    visibility: visible;
}

.hienkhihover:hover .hienkhihover-giamgia {
    transform: translateY(-15px);
    visibility: visible;
}

.coonsale1-text p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coonsale2-hover {
    position: relative;
}

.coonsale2-hover-nenden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-property: opacity;
    background-color: black;
}

.onsale2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 91px;
    height: 40px;
    color: #a25f4b;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.coonsale2 {
    margin-left: 10px;
    margin-right: 10px;
}

.coonsale2-hover-em {
    position: absolute;
    bottom: 14px;
    left: 15px;
    width: calc(100% - 30px);
    height: 50px;
    background-color: white;
    color: black;
    transition-property: transform;
    transition-timing-function: linear;
    transition-property: transform;
    transition-duration: 0.2s;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.coonsale2-hover:hover .coonsale2-hover-nenden {
    opacity: 10%;
}

.coonsale2-hover:hover .coonsale2-hover-em {
    visibility: visible;
    transform: translateY(-15px);
}

.coonsale2-text p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coonsale3-hover {
    position: relative;
}

.coonsale3-hover-nenden {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.coonsale3-hover-em {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 14px;
    left: 15px;
    color: black;
    background-color: white;
    width: calc(100% - 30px);
    height: 50px;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    z-index: 1;
}

.coonsale3-hover:hover .coonsale3-hover-nenden {
    opacity: 13%;
}

.coonsale3-hover:hover .coonsale3-hover-em {
    visibility: visible;
    transform: translateY(-15px);
}

.coonsale3-text p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.baanhogiua-1-hover {
    position: relative;
}

.baanhogiua-1-hover-nenden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.baanhogiua-1-hover-em {
    position: absolute;
    bottom: 14px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: calc(100% - 30px);
    color: black;
    background-color: white;
    visibility: hidden;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-property: transform;
}

.baanhogiua-1-hover:hover .baanhogiua-1-hover-nenden {
    opacity: 13%;
}

.baanhogiua-1-hover:hover .baanhogiua-1-hover-em {
    visibility: visible;
    transform: translateY(-15px);
}

.baanhogiua-1-text {
    text-align: center;
    margin-top: 30px;
}

.baanhogiua-2-hover {
    position: relative;
}

.baanhogiua-2-hover-nenden {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-property: opacity;
}

.baanhogiua-2-hover-em {
    position: absolute;
    bottom: 14px;
    left: 15px;
    width: calc(100% - 30px);
    height: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    visibility: hidden;
}

.baanhogiua-2-hover:hover .baanhogiua-2-hover-nenden {
    opacity: 13%;
}

.baanhogiua-2-hover:hover .baanhogiua-2-hover-em {
    visibility: visible;
    transform: translateY(-15px);
}

.baanhogiua-2-text {
    text-align: center;
    margin-top: 30px;
}

.baanhogiua-3-hover {
    position: relative;
}

.baanhogiua-3-hover-nenden {
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.baanhogiua-3-hover-em {
    position: absolute;
    bottom: 14px;
    left: 15px;
    width: calc(100% - 30px);
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-timing-function: linear;
    transition-property: transform;
    transition-duration: 0.2s;
    visibility: hidden;
}

.baanhogiua-3-hover:hover .baanhogiua-3-hover-nenden {
    opacity: 13%;
}

.baanhogiua-3-hover:hover .baanhogiua-3-hover-em {
    visibility: visible;
    transform: translateY(-15px);
}

.baanhogiua-3-text {
    text-align: center;
    margin-top: 30px;
}

.baanhogiua {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.baanhcuoicung-1-hover {
    position: relative;
}

.baanhcuoicung-1-hover-nenden {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.baanhcuoicung-1-hover-em {
    position: absolute;
    bottom: 14px;
    left: 15px;
    width: calc(100% - 30px);
    height: 50px;
    background-color: white;
    color: black;
    text-align: center;
    transition-timing-function: linear;
    transition-duration: 0.2s;
    transition-property: transform;
    visibility: hidden;
}

.baanhcuoicung-1-hover:hover .baanhcuoicung-1-hover-nenden {
    opacity: 13%;
}

.baanhcuoicung-1-hover:hover .baanhcuoicung-1-hover-em {
    visibility: visible;
    transform: translateY(-15px);
}

.baanhcuoicung-1-text {
    text-align: center;
    margin-top: 30px;
}

.baanhcuoicung-2-hover {
    position: relative;
}

.baanhcuoicung-2-hover-em {
    position: absolute;
    bottom: 14px;
    left: 15px;
    width: calc(100% - 30px);
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.baanhcuoicung-2-hover-nenden {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.baanhcuoicung-2-hover:hover .baanhcuoicung-2-hover-nenden {
    opacity: 13%;
}

.baanhcuoicung-2-hover:hover .baanhcuoicung-2-hover-em {
    visibility: visible;
    transform: translateY(-15px);
}

.baanhcuoicung-2-text {
    text-align: center;
    margin-top: 30px;
}

.baanhcuoicung-3-hover {
    position: relative;
}

.baanhcuoicung-3-hover-em {
    position: absolute;
    bottom: 14px;
    left: 15px;
    width: calc(100% - 30px);
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    visibility: hidden;
}

.baanhcuoicung-3-hover-nenden {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.baanhcuoicung-3-hover:hover .baanhcuoicung-3-hover-nenden {
    opacity: 13%;
}

.baanhcuoicung-3-hover:hover .baanhcuoicung-3-hover-em {
    visibility: visible;
    transform: translateY(-15px);
}

.baanhcuoicung-3-text {
    text-align: center;
    margin-top: 30px;
}

.baanhcuoicung {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.baanhogiua-2 {
    margin-left: 10px;
    margin-right: 10px;
}

.baanhcuoicung-2 {
    margin-left: 10px;
    margin-right: 10px;
}

.buy {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.buy span {
    margin-left: 10px;
    margin-right: 10px;
}


/*tại sao đặt q ảnh trong thẻ <div> thì ảnh sẽ bị thụt lại một 
ít ở bottom*/

.startshopping-anh {
    max-width: 460px;
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
}

.startshopping-anh-phai {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.startshopping-text-end {
    display: inline-block;
    background-color: black;
    padding: 20px;
    font-size: 13px;
}

.startshopping-text-end:hover {
    opacity: 75%;
}

.startshopping-text-end {
    margin-top: -10px;
    text-decoration: none;
    color: white;
}

.startshopping-text {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.startshopping {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.startshopping-anh-trai {
    max-width: 280px;
    max-width: 280px;
    /*background-image: url("https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7a2f3decdfa9_Image.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;*/
}

.phai-tren,
.phai-duoi {
    max-height: 130px;
    max-width: 160px;
}

.background-image {
    margin-top: 100px;
    background-image: url("https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7ac1c6ecdfd2_Section%20Image%202.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 350px;
    background-repeat: no-repeat;
    background-position: center;
}

.behind {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.behind span {
    margin-left: 10px;
    margin-right: 10px;
}

.foter {
    display: flex;
    flex-wrap: wrap;
}

.foter-anh1-hover {
    position: relative;
    width: 100%;
    height: auto;
}

.foter-anh1-hover img {
    width: 100%;
    height: auto;
    margin: 0;
}

.link {
    position: absolute;
    bottom: 014px;
    left: 015px;
    width: calc(100% - 30px);
    height: calc(100% / 6);
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.foter-anh1-hover:hover .link {
    visibility: visible;
    transform: translateY(-15px);
}

.black {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.foter-anh1-hover:hover .black {
    opacity: 13%;
}

.foter-anh1-des p {
    text-align: center;
}

.foter-anh2-hover {
    position: relative;
    width: 100%;
}

.black2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: black;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.foter-anh2-hover:hover .black2 {
    opacity: 13%;
}

.link2 {
    position: absolute;
    bottom: 14px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% / 6);
    background-color: white;
    color: black;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foter-anh2-hover:hover .link2 {
    visibility: visible;
    transform: translateY(-15px);
}

.foter-anh2-hover img {
    width: 100%;
}

.foter-anh2-des p {
    text-align: center;
}

.foter-anh3-hover {
    width: 100%;
    position: relative;
}

.foter-anh3-hover img {
    width: 100%;
    height: auto;
}

.black3 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.foter-anh3-hover:hover .black3 {
    opacity: 13%;
}

.link3 {
    position: absolute;
    bottom: 14px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% / 6);
    background-color: white;
    color: black;
    visibility: hidden;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foter-anh3-hover:hover .link3 {
    visibility: visible;
    transform: translateY(-15px)
}

.foter-anh3-des {
    text-align: center;
}

.foter-anh1,
.foter-anh2,
.foter-anh3 {
    width: 300px;
}

.foter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.foter-background-black {
    opacity: 88%;
    width: calc(100% - 50px);
    height: 300px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gachngang {
    width: 30px;
    height: 1px;
    background-color: white;
    margin-top: 8px;
    opacity: 20%;
}

.text-des {
    margin-left: 10px;
    margin-right: 10px;
}

.signup {
    display: flex;
    flex-direction: row;
}

.sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.email {
    width: 300px;
    height: 50px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    opacity: 40%;
    padding-left: 25px;
    margin-right: 10px;
}

.subcribe {
    width: 150px;
    height: 50px;
    background-color: white;
    color: black;
    text-align: center;
}

.foter-text-1 img {
    width: 100px;
}

.foter-text-1 {
    min-width: 100px;
    max-width: calc(100% / 5);
    height: auto;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;*/
    text-align: center;
}

.foter-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foter-text-1>p {
    padding-top: 2px;
}

.foter-text-1 {
    margin-top: 16px;
}

.foter-text-1 p:last-child {
    margin-top: 30px;
}


/*.baseline {
    align-items: baseline;
}*/

.foter-text-menu p:first-child,
.follow p:first-child,
.contact p:first-child {
    margin-bottom: 025px;
}

.contact {
    max-width: calc(100% / 5);
    min-width: 100px;
    height: auto;
}

.foter-text-menu,
.follow {
    min-width: 100px;
    max-width: calc(100% / 5);
    /*margin-left: 30px;
    margin-right: 30px;*/
}

.foter-text-menu {
    margin-left: 30px;
    margin-right: 15px;
}

.follow {
    margin-left: 15px;
    margin-right: 30px;
}

.foter-text-menu,
.follow,
.contact {
    text-align: center;
}