* {
    box-sizing: border-box;
}

.no-float {
    clear: both;
}

img {
    max-width: 100%;
}

#banner {
    border-width: 5px;
    border-color: #b2f80e;
    border-style: double;
}

.menu {
    border-width: 2px;
    border-style: double;
    border-color: #b2f80e;
    float: left;
    width: 20%;
    margin-top: 2%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2%;
}

.menucangiua {
    text-align: center;
}

.anhchim {
    float: left;
    width: 33.3333%;
}

.phongcanh {
    float: left;
    width: 25%;
    margin-bottom: 02%;
}

.anhchim img:hover {
    border-width: 4px;
    border-style: double;
    border-color: #98e916;
}

.menu:hover {
    border-width: 4px;
    border-style: double;
    border-color: #98e916;
}

.phongcanh img:hover {
    border-width: 4px;
    border-style: double;
    border-color: #98e916;
}

#menu,
#chim {
    overflow: auto;
}