* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 46px;
    background-color: #000;
}

.header--nav {
    display: inline-block;
}

.header--nav>ul>li>a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 46px;
    font-family: Arial, Helvetica, sans-serif;
}

.header--nav>ul {
    list-style-type: none;
}

.header--nav>ul>li {
    padding: 0px 24px;
    display: inline-block;
}

.header--nav>ul>li:hover {
    background-color: #ccc;
    cursor: pointer;
}

.header--nav>ul>li:hover>a {
    color: #000;
}

.header-header--nav-more-submore {
    width: 160px;
    list-style-type: none;
    position: absolute;
    top: 46px;
    left: 0;
    display: none;
}

.header-header--nav-more-submore>li {
    width: 100%;
    padding: 10px 16px;
}

.header-header--nav-more-submore>li>a {
    text-decoration: none;
    font-size: 15px;
    color: #000;
}

.header>.header--nav>ul>li.more {
    position: relative;
}

.header>.header--nav>ul>li.more:hover>ul {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    display: inline-block;
}

.header-header--nav-more-submore>li:hover {
    background-color: #ccc;
}

.header--search {
    line-height: 46px;
    padding: 0px 24px;
    float: right;
}

.header--search:hover{
    cursor: pointer;
    background-color: #f44336;
}
.header--search-btn {
    color: #fff;
}