* {
    box-sizing: border-box;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu {
    margin-left: 90px;
}

.menu ul li a {
    text-decoration: none;
    margin-top: -13px;
}

.menu ul li {
    margin-right: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    z-index: -1;
}

div.chutrenanh .white {
    color: cornsilk;
}

div.chutrenanh {
    position: absolute;
    top: 178px;
    left: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.chutrenanh p:nth-child(4) {
    background-color: rgb(255, 255, 255);
    padding: 18px;
}

.text {
    width: calc(100% / 2);
    margin-left: auto;
    margin-right: auto;
}

div.text:nth-child(1),
div.text:nth-child(2),
div.text:nth-child(3) {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    line-height: 35px;
}

.feature {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.feature {
    margin-bottom: 80px;
}

.anhduoifeature {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.anhduoifeature img:first-child {
    margin-right: 20px;
}

.anhduoifeature div p:nth-child(2) {
    margin-top: 35px;
}